// Colors
   $main-background-color: hsl(0, 0%, 100%);

// Visual stuff
   $grid-width: 5.966666666666667vw;
   $padding-width: .5vw;
   $gutter-width: .75vw;

// Typography
   $main-font: IranSans;
   $font-size-one: 2.441rem;
   $font-size-two: 1.953rem;
   $font-size-three: 1.563rem;
   $font-size-four: 1.25rem;
   $font-size-five: 1rem;
   $font-size-six: 0.8rem;

// Wireframe
   $wireframe-background-1: hsl(0, 0%, 90%);
   $wireframe-background-2: hsl(0, 0%, 80%);
   $wireframe-background-3: hsl(0, 0%, 70%);
   $wireframe-background-4: hsl(0, 0%, 60%);
   $wireframe-background-5: hsl(0, 0%, 50%);
