@font-face {
   font-family: 'IranSans';
   font-path: '../fonts/IranSans/IRANSans-web';
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'IranSans';
   font-path: '../fonts/IranSans Bold/IRANSans-Bold-web';
   font-style: normal;
   font-weight: bold;
}
